
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #222;
}

header nav {
  float: right;
  margin-top: 15px;
}

header ul {
  list-style-type: none;
}

main {
  position: absolute;
  top: 275px;
  left: 650px;
}

.query-box {
  width: 75%;
}

footer {
  width: 100%;
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
}

.linkContainer {
  overflow: hidden;
}

.left-group {
  float: leftt;
}

.right-group {
  float: right;
}
