
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #222;
}

header {
  float: right;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

nav * {
  margin-right: 10px;
}

nav input {
  border-radius: 1px;
}

header ul {
  list-style-type: none;
}

main {
  position: absolute;
  top: 275px;
  left: 650px;
}

.query-box {
  width: 75%;
  margin-top: 10px;
}

.submits {
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.linkContainer a {
  margin-right: 12px;
}

.left-group, .right-group {
  display: flex;
  align-items: center;
}
