
body {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
}

header a {
  margin-right: 20px;
}

.upper-right {
  float: right;
}

a {
  color: #222;
  text-decoration: none;
}

main {
  height: 550px;
}

main img {
  height: 92px;
  width: 272px;
}

footer {
  background-color: lightgrey;
  font-family: arial, sans-serif;
  font-size: 13;
}

.linkContainer {
  overflow: hidden;
}

.left-group, .right-group {
  height: 35px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-group {
  float: left;
  margin-left: 25px;
}

.right-group {
  float: right;
  margin-right: 25px;
}
